
body {
    padding-top: 56px;
}

/*image position and shape*/
.card-img-top {
    height: 10pc;
    width: auto;
    border-radius: 5px ;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}



/*card title text color*/
h4 {
    color: dodgerblue;
}

/*card footer background color*/
.card-footer {
    background-color: lightgray !important;
}

/*rating stars color*/
.text-primary {
    color: darkslategray !important;
}

/*footer background color*/
.bg-light {
    background-color: darkgrey !important;
}

/*text color of All;Available;OOS*/
.nav-link {
    color: white !important;
}

/*hoover text color of All;Available;OOS*/
.nav-link:hover{
    color: black !important;
}
